
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #f5f5f7;
    
}

main {
    padding-inline: 10px;
    background-color: #f5f5f7;
}

p, li {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

ul {
    list-style-type: none;
    padding-right: 2rem;
}

li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
li a {
    color: #007aff;
    text-decoration: none;
}

a {
    color: #007aff;
    text-decoration: none;
}
.cancel-link {
    color: #ff3b30;
}

.cancel-link:hover {
    text-decoration: underline;
}


header {
    background-color: #f8f8f8;
    padding: 20px 40px; 
    text-align: center; 
}

header h1 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px; 
}

header p {
    font-size: 16px;
    color: #666; 
}

header a, nav a {
    color: #007aff; 
    text-decoration: none; 
    margin-right: 15px; 
    font-size: 16px;
}

header form {
    display: inline; 
}

header button {
    padding: 8px 16px;
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #0056b3; 
}

nav {
    background-color: #f1f1f1;
    padding: 10px 40px; 
    text-align: center;
    border-top: 1px solid #e7e7e7; 
}

nav p {
    color: #666;
    font-size: 16px;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 0;
}

.hero {
    background: url('/static/images/hero-image.jpg') no-repeat center center/cover;
    color: rgb(0, 0, 0);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text h1 {
    margin: 0;
    font-size: 3em;
}

.hero-text p {
    font-size: 1.5em;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    
}

@media (max-width: 600px) {
    .features {
        flex-direction: column; 
        align-items: center; 
        padding: 10px; 
    }
}

.feature h2 {
    color: #007bff;
}

.feature p {
    width: 200px;
    text-align: center;
}

.about {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.about h2 {
    color: #333;
}

.about p {
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.6;
}

/*Restaurant list css*/
body {
    background-color: #f4f4f4; 
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease-in-out; 
}

.card:hover {
    transform: translateY(-5px); 
}

.card-img-top {
    height: 150px; 
    object-fit: cover; 
}
/*Restaurant details css*/

/* mettre l'immage de la class gallery en arriere plan et que ssa taille prenne toute la largeur de la page */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.gallery img {
    max-width: 100%; /* Limite la largeur de l'image à 100% de la largeur parent */
    height: auto; /* Ajuste automatiquement la hauteur pour garder le ratio */
    flex: 1 1 100%; /* S'étend sur 100% de la largeur disponible */
}

.back-button {
    position: absolute;
    left: 10px; 
    top: 10px; 
    padding: 8px 16px;
    background-color: #f4f4f4; 
    color: #3e70ed; 
    text-decoration: none; 
    border: none;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.back-button:hover {
    background-color: #e2e2e2; 
}
.restaurant-detail {
    width: 99%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.restaurant-meta {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 20px;
}

.rating .stars {
    color: #e6b800;
}

.map-container {
    width: 100%;
    height: 400px;
}

#restaurant-map {
    height: 75%;
    width: 100%;
    border-radius: 20px;
}
.gallery img {
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.description, .reviews {
    margin-top: 20px;
}

/* Base styling for the reviews container */
.reviews {
    max-width: 600px;
    margin: 20px auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reviews h3 {
    color: #000;
    font-size: 1.4em;
}

/* Styling for the form */
form {
    margin-bottom: 20px;
}

form p {
    margin: 10px 0;
}

button {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Individual review styling */
.review {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}

.review a {
    color: #007aff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.review a:hover {
    color: #0056b3;
}

.review p {
    line-height: 1.5;
    margin: 5px 0;
}

.review strong {
    color: #000;
}

/* Styles for all form input fields */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%; 
    padding: 12px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    font-size: 16px; 
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border-color: #007aff; 
    outline: none; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 122, 255, 0.6); 
}

/* Style adjustments for text areas specifically */
textarea {
    height: 150px; 
    resize: vertical; 
}


.description {
    margin-bottom: 1rem; 
}

.button-container {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 1rem; 
}

.button-container button {
    flex: 1; 
    margin: 0 5px; 
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 10px;
    
    border: none;
    transition: background-color 0.3s;
}
#reserve-button {
    background-color: #305ded; 
    color: white; 
}

#evaluate-button {
    background-color: #bac1cb; 
    color: white; 
}
#reserve-button:hover,
#evaluate-button:hover {
    opacity: 0.8; 
}
#reserve-button:active {
    background-color: #042ea2; 
}

#evaluate-button:active {
    background-color: #7c7c7c; 
}

/* Media query pour les écrans plus grands */
@media (min-width: 601px) {
    .button-container {
        flex-direction: column;
        align-items: flex-start; 
    }

    .button-container .button {
        
        margin-bottom: 10px; 
    }

    
}

/* Registrations */
.container {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.btn-primary {
    padding: 10px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.btn-primary:hover {
    background-color: #0056b3;
}

/* Reservation form */
.reservation-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="date"],
.form-group input[type="time"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-submit {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: #0056b3;
}


.circle-rating {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #ddd;
}

.number {
    font-weight: bold;
    color: #333;
}
